

 
   .home-container {
  font-family: "Segoe UI", sans-serif;
}


.hero {
  height: 90vh;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

.overlay {
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay h1 {
  font-size: 48px;
  animation: fadeDown 1s ease;
}

.overlay p {
  font-size: 20px;
  margin: 15px 0;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}


.common-btn {
  padding: 12px 25px;
  background: #6c4cff;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.outline-btn {
  padding: 12px 25px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}


.features {
  padding: 80px 60px;
  background: #f9f9ff;
  text-align: center;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  color: #2c2c2c;
}

.section-subtitle {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

.feature-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.feature-card {
  background: white;
  padding: 35px 25px;
  border-radius: 14px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
  transition: all 0.4s ease;
  cursor: pointer;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 45px rgba(108, 76, 255, 0.25);
}

.feature-card .icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}


.courses {
  padding: 60px;
  background: #fafafa;
  text-align: center;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  margin-top: 30px;
}

.course-card {
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.cta {
  padding: 70px;
  text-align: center;
  background: linear-gradient(to right, #6c4cff, #8e7bff);
  color: white;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 
